Repository HongikComputerClub/gift-backend, pull requests merged in 2025-01, with the labels that each got.

#2 Feature #1 : 네이버 쇼핑 API 호출 테스트 및 데이터 구조 확인
  .gitignore
  .gradle/8.11.1/checksums/checksums.lock
  .gradle/8.11.1/checksums/md5-checksums.bin
  .gradle/8.11.1/checksums/sha1-checksums.bin
  .gradle/8.11.1/executionHistory/executionHistory.bin
  .gradle/8.11.1/executionHistory/executionHistory.lock
  .gradle/8.11.1/fileChanges/last-build.bin
  .gradle/8.11.1/fileHashes/fileHashes.bin
  .gradle/8.11.1/fileHashes/fileHashes.lock
  .gradle/8.11.1/fileHashes/resourceHashesCache.bin
  .gradle/8.11.1/gc.properties
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  .gradle/buildOutputCleanup/cache.properties
  .gradle/buildOutputCleanup/outputFiles.bin
  .gradle/file-system.probe
  .gradle/vcs-1/gc.properties
  HELP.md
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle
  src/main/java/com/team4/giftidea/GiftBackendApplication.java
  src/main/java/com/team4/giftidea/controller/NaverApiController.java
  src/main/java/com/team4/giftidea/service/NaverApiService.java
  src/test/java/com/team4/giftidea/GiftBackendApplicationTests.java
Labels: ✨ feature, 📡 API, ⚙️ setting

#13 Feature #12 : gptAPI 연결 및 원시함수
  .gitignore
  OpenAI_call.py
Labels: ✨ feature, 📁 data

#20 feat #18 : KREAM API 응답 데이터 분석 및 DTO 설계
  .gitignore
  .gradle/8.11.1/checksums/checksums.lock
  .gradle/8.11.1/checksums/md5-checksums.bin
  .gradle/8.11.1/checksums/sha1-checksums.bin
  .gradle/8.11.1/executionHistory/executionHistory.bin
  .gradle/8.11.1/executionHistory/executionHistory.lock
  .gradle/8.11.1/fileHashes/fileHashes.bin
  .gradle/8.11.1/fileHashes/fileHashes.lock
  .gradle/8.11.1/fileHashes/resourceHashesCache.bin
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  .gradle/buildOutputCleanup/outputFiles.bin
  .gradle/file-system.probe
  src/main/java/com/team4/giftidea/controller/NaverApiController.java
  src/main/java/com/team4/giftidea/controller/SearchController.java
  src/main/java/com/team4/giftidea/dto/ItemDTO.java
  src/main/java/com/team4/giftidea/service/KreamApiService.java
  src/main/java/com/team4/giftidea/service/NaverApiService.java
Labels: ✨ feature, 📡 API

#24 Feature #19 : KREAM API 데이터를 활용한 상품 추천 로직 적용
  .gradle/8.11.1/checksums/checksums.lock
  .gradle/8.11.1/checksums/md5-checksums.bin
  .gradle/8.11.1/checksums/sha1-checksums.bin
  .gradle/8.11.1/executionHistory/executionHistory.bin
  .gradle/8.11.1/executionHistory/executionHistory.lock
  .gradle/8.11.1/fileHashes/fileHashes.bin
  .gradle/8.11.1/fileHashes/fileHashes.lock
  .gradle/8.11.1/fileHashes/resourceHashesCache.bin
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  .gradle/file-system.probe
  build.gradle
  src/main/java/com/team4/giftidea/controller/SearchController.java
  src/main/java/com/team4/giftidea/dto/ItemDTO.java
  src/main/java/com/team4/giftidea/service/KreamApiService.java
  src/main/java/com/team4/giftidea/service/ProductMatchingService.java
  src/test/java/com/team4/giftidea/service/ProductMatchingServiceTest.java
Labels: ✨ feature, 📡 API

#37 Feature #30 : 네이버 쇼핑, 쿠팡, KREAM API를 활용한 상품 데이터 수집 및 DB 저장 자동화
  .gradle/8.11.1/checksums/checksums.lock
  .gradle/8.11.1/checksums/md5-checksums.bin
  .gradle/8.11.1/checksums/sha1-checksums.bin
  .gradle/8.11.1/executionHistory/executionHistory.bin
  .gradle/8.11.1/executionHistory/executionHistory.lock
  .gradle/8.11.1/fileHashes/fileHashes.bin
  .gradle/8.11.1/fileHashes/fileHashes.lock
  .gradle/8.11.1/fileHashes/resourceHashesCache.bin
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  .gradle/file-system.probe
  build.gradle
  src/main/java/com/team4/giftidea/GiftBackendApplication.java
  src/main/java/com/team4/giftidea/controller/ProductController.java
  src/main/java/com/team4/giftidea/controller/SearchController.java
  src/main/java/com/team4/giftidea/dto/ItemDTO.java
  src/main/java/com/team4/giftidea/entity/Product.java
  src/main/java/com/team4/giftidea/repository/ProductRepository.java
  src/main/java/com/team4/giftidea/service/CoupangApiService.java
  src/main/java/com/team4/giftidea/service/KreamApiService.java
  src/main/java/com/team4/giftidea/service/NaverApiService.java
  src/main/java/com/team4/giftidea/service/ProductService.java
Labels: ✨ feature

#38 Refactor #21 : GPT API 기반 카테고리 추출 및 선물 추천 시스템 구현
  .gitignore
  .gradle/8.11.1/checksums/checksums.lock
  .gradle/8.11.1/checksums/md5-checksums.bin
  .gradle/8.11.1/checksums/sha1-checksums.bin
  .gradle/8.11.1/executionHistory/executionHistory.bin
  .gradle/8.11.1/executionHistory/executionHistory.lock
  .gradle/8.11.1/fileHashes/fileHashes.bin
  .gradle/8.11.1/fileHashes/fileHashes.lock
  .gradle/8.11.1/fileHashes/resourceHashesCache.bin
  .gradle/8.12.1/checksums/checksums.lock
  .gradle/8.12.1/checksums/md5-checksums.bin
  .gradle/8.12.1/checksums/sha1-checksums.bin
  .gradle/8.12.1/executionHistory/executionHistory.bin
  .gradle/8.12.1/executionHistory/executionHistory.lock
  .gradle/8.12.1/fileChanges/last-build.bin
  .gradle/8.12.1/fileHashes/fileHashes.bin
  .gradle/8.12.1/fileHashes/fileHashes.lock
  .gradle/8.12.1/fileHashes/resourceHashesCache.bin
  .gradle/8.12.1/gc.properties
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  .gradle/buildOutputCleanup/cache.properties
  .gradle/buildOutputCleanup/outputFiles.bin
  .gradle/file-system.probe
  build.gradle
  gradlew
  gradlew.bat
  src/main/java/com/team4/giftidea/GiftBackendApplication.java
  src/main/java/com/team4/giftidea/configuration/GptConfig.java
  src/main/java/com/team4/giftidea/controller/GptController.java
  src/main/java/com/team4/giftidea/controller/ProductController.java
  src/main/java/com/team4/giftidea/dto/GptRequestDTO.java
  src/main/java/com/team4/giftidea/dto/GptResponseDTO.java
  src/main/java/com/team4/giftidea/dto/ItemDTO.java
  src/main/java/com/team4/giftidea/dto/MessageDTO.java
  src/main/java/com/team4/giftidea/entity/Product.java
  src/main/java/com/team4/giftidea/repository/ProductRepository.java
  src/main/java/com/team4/giftidea/service/CoupangApiService.java
  src/main/java/com/team4/giftidea/service/KreamApiService.java
  src/main/java/com/team4/giftidea/service/NaverApiService.java
  src/main/java/com/team4/giftidea/service/ProductService.java
Labels: 🚨 Hotfix, ✨ feature, 📁 data, ♻️ Refactor, 📡 API
